<!DOCTYPE html>
<html lang="en" >
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <meta charset="UTF-8">
  <title>Login Page in HTML with CSS Code Example</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">


</head>
<body>
<!-- partial:index.partial.html -->
<div class="box-form">
	<div class="left">
		<div class="overlay">
		<h1>Web</h1>
		<br>
		<h1>Authentication</h1>
		<p></p>
		</div>
	</div>
	
	<form method="POST">
		<div class="right">
		<h5>Login</h5>
		<div class="inputs">
			<input type="text" placeholder="Username" name="username">
			<br>
			<input type="password" placeholder="Password" name="password">
		</div>
			
			<br><br>
			
		<div class="remember-me--forget-password">
				<!-- Angular -->
		</div>
			
			<br>
			<button>Login</button>

		</div>
	</form>
	
</div>
<!-- partial -->
  
</body>
</html>
